<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>SOWA</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/resemble.css">	
		<link rel="stylesheet" href="../css/style.css">	
	</head>
	<body ng-app="appl">
		<div class="container-fluid">
			<div class="hero-unit fondo">
			<header>
				<div class="page-header">
					<h1>SOWA : Análisis y comparación de Imágenes</h1>
				</div>
			</header>
	
			<section role="main">
				
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span6">
								<div id="dropzone1" class="small-drop-zone">
									<p>Arrastre 1° Imagen</p>
								</div>
								<div id="dropzone2" class="small-drop-zone">
									<p>Arrastre 2° Imagen</p>
								</div>
							</div>
							<div class="span5 offset1">
								<h2>¿Comparar dos Imágenes?</h2>
								<p>
								Deseas Probar el software, ¿usa imagenes de ejemplo? <button class="btn btn-primary" id="example-images">Usa Imágenes de Ejemplo</button>
								</p>
								<div id="image-diff" class="small-drop-zone">
									<p>La diferencia es:</p>
								</div>
								<br/>

								<div class="btn-group buttons" style="display:none">
									<button class="btn active" id="raw">Ignorar todo</button>
									<button class="btn" id="colors">Ignorar colores</button>
									<button class="btn" id="antialising">Ignorar anti-aliasing</button>
								</div>

								<br/>
								<br/>
								<div class="btn-group buttons" style="display:none">
									<button class="btn active" id="original-size">Usar tamaño original</button>
									<button class="btn" id="same-size">Escalar al mismo tamaño</button>
								</div>

								<br/>
								<br/>

								<div class="btn-group buttons" style="display:none">
									<button class="btn active" id="pink">Rosa</button>
									<button class="btn" id="yellow">Amarillo</button>
								</div>
								<br/>
								<br/>

								<div class="btn-group buttons" style="display:none">
									<button class="btn active" id="flat">Plana</button>
									<button class="btn" id="movement">Movimiento</button>
									<button class="btn" id="flatDifferenceIntensity">Plana con intensidad diferente</button>
									<button class="btn" id="movementDifferenceIntensity">Movimiento con diferente intensidad</button>
								</div>
								<br/>
								<br/>

								<div class="btn-group buttons" style="display:none">
									<button class="btn active" id="opaque">Opaco</button>
									<button class="btn" id="transparent">Transparente</button>
								</div>

								<br/>
								<br/>
								<div id="diff-results" style="display:none;">
									<p>
										<strong>La segunda imagen es <span id="mismatch"></span>% diferente al compararla con la primera imagen.
										<span id="differentdimensions" style="display:none;">y tienen diferentes tamaños.</span></strong>
									</p>
									<p>
										Utilice los botones de arriba para cambiar el algoritmo de comparación. puede observar sin color, o modificando el an-aliasing.
									</p>
								</div>
								
								<p id="thesame" style="display:none;">
									<strong>Las Imágenes son iguales!</strong>
								</p>
								<div class="row text-left" >
									<legend style="color:white;">Ingrese KM cuadrados de la imagen</legend>
									<div class="col-md-2"><input class="form-group" type="text" id="km"></div>
									<div class="col-md-2"><button class="btn btn-success btn-lg" id="buttonKM">Calcular</button></div>
									<br>
									<div class="col-md-2"><strong><p id="resultKM" for="resultKM" ></p></strong></div>
								</div>
								
								<form ng-submit="submit()" ng-controller="diferenciaCtrl">
								  El texto:
								  <input type="hidden" ng-model="text" name="text" />
								  <input type="submit" id="resultKM" value="Guardar" />
								  <pre>list={{list}}</pre>
								</form>
							
							</div>
						</div>
					</div>
					
				</div>
			</section>	
			</div>
			<br/><br/>
		</div>
		<footer class="footer" id="futerPag">
			<b>
			<p class= "pie-de-pagina"> 
				Creadores de SOWA, Guillermo Lemunao, Pedro Manríquez.
			</p>
			<p class= "pie-de-pagina"> 
				Programación Orientada a Eventos.
			</p>
			<p class= "pie-de-pagina"> 
				Universidad de la Frontera, Departamento de Ciencias de la computación e Informática
			</p>
			<p class= "pie-de-pagina">	
				Créditos a James Cryer y a Daniel Rajendran, Desarrolladores de Resemble.js
			</p>
			</b>
		</footer>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	        <script src="../js/angular.min.js"></script>
	        <script src="../js/controller.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="../js/resemble.js"></script>
		<script src="../js/main.js"></script>
		<script src="../js/resultado.js"></script>
	</body>
</html>
