body{
    background: #0B2F3A;
}
.pie-de-pagina{
    color:white;
    text-align: center;
    font-style: oblique;
}
#futerPag{
    background: #071418;
}
.fondo{
	background-color: #0B2F3A;
	color:white;
	border-style:solid;
	border: 10px solid #ccc;
}
.cuadro{
	background-color: #0B2F3A;
	color:white;
	border-style:solid;
	border: 5px solid #ccc;
}
.headers{
	background-color: #071418;
	color: white; 
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 1px;
}
#titulo{
	padding-top: 5px;
}
.margen{
	padding-left: 80px;
}