body{
    background: #0B2F3A;
}
.pie-de-pagina{
    color:white;
    text-align: center;
    font-style: oblique;
}
#futerPag{
    background: #071418;
}
.fondo{
	background-color: #0B2F3A;
	color:white;
	border-style:solid;
	border: 5px dashed #ccc;
}